@model IEnumerable<CocktailMVC.Models.Cocktail>

@{
    ViewBag.Title = "Index";
}

<h2>Weekly Cocktails</h2>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Theme</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var coctail in Model)
        {
            <tr>
                <td>@coctail.Name</td>
                <td>@coctail.Price kr</td>
                <td>@coctail.Theme.Name</td>
                <td>@coctail.Description</td>
            </tr>
        }
    </tbody>
</table>

